.Content{

}
	.FormInput{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}
		.FormInput label{
			color:white;
			font-size:25px;
		}
		.FormInput input{
			font-size:25px;
			color:white;
			border:1px solid white;
			background-color:transparent;
			padding:5px;
			border-radius:7px;
			margin-left:30px;
		}
		.FormInput select{
			font-size:20px;
			padding:5px;
		}
		input[type="submit"]{
			float:right;
			margin-top:20px;
			border:1px solid #f55c5c;
			background-color:#f55c5c;
			color:white;
			padding:5px 15px;
			font-size:25px;
			border-radius:20px;
			transition:0.5s;
			cursor: pointer;
		}
		input[type="submit"]:hover{
			color:black;
		}