#head{
    height:55px;
    background-color:#0973b9;
    box-sizing:border-box;
    border-bottom:1px solid gray;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.restaurant{
    
}
    .restaurant select {
        color: white;
        width: 200px;
        height: 32px;
        box-sizing: border-box;
        background-color:#054662;
        border:0px;
        padding:5px;
    }
        .restaurant select option {
            background-color: white;
            color: #054662;
            padding: 8px;
        }
.setting{
    display:flex;
    align-items:center;
}
.lang{
    margin-right:25px;
}
    .lang select {
        color: white;
        width: 170px;
        height: 32px;
        box-sizing: border-box;
        background-color: #054662;
        border:0px;
        padding:5px;
    }
        .lang select option {
            background-color: white;
            color: #054662;
            padding: 8px;
        }
.info{
    display:flex;
    align-items:center;
}
.notifi {
    width: 24px;
    height: 24px;
    background-image: url('/Contents/Images/earth.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: 2px;
    cursor: pointer;
}
.notifi p{
    border:1px solid tomato;
    background-color:tomato;
    text-align:center;
    font-size:10px;
    width:15px;
    height:12px;
    margin-left:7px;
}
.notifi:hover p{
    border:1px solid red;
    background-color:red;
}
.support {
    width: 65px;
    height: 55px;
    background-image: url('/Contents/Images/ic_support.png');
    background-size: 55px 50px;
    background-repeat: no-repeat;
    margin-left: 10px;
    cursor: pointer;
}
.support:hover {
    background-color: #054662;
}
.account{
    display:flex;
    align-items:center;
    cursor:pointer;
    margin-left:5px;
}
.account:hover{
    color:black;
}
    .account .avatar {
        width: 28px;
        height: 28px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: white;
        background-image: url('/Contents/Images/EmployeeImage.png');
        background-size: contain;
        margin-right: 5px;
    }
    .account .arrow {
        width: 20px;
        height: 20px;
        background-image: url('/Contents/Images/default-small-arrow.png');
        margin-right: 10px;
        margin-left: 10px;
        background-size: 15px 20px;
        background-position-y: 1px;
        background-repeat: no-repeat;
    }
