@font-face {
	font-family: 'Roboto-Regular';
	src: url('../../Contents/fonts/Roboto-Regular.ttf') format('truetype');
}
#menu {
    background-color: #0973b9;
    color:white;
}
.item {
    box-sizing: border-box;
    border-bottom: 1px solid #0783b7;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 13px;
    cursor: pointer;
}
.icon {
    background-image: url('/Contents/Images/iconMenu.png');
    background-repeat: no-repeat;
    width: 35px;
    height: 25px;
}
.item1 {
    height: 55px;
    width:230px;
    position:fixed;
    top:0;
    left:0;
}

    .item1 .icon {
        background-position-x: 0px;
        background-position-y: -416px;
    }

	.item1 h2 {
		font-family: 'Roboto-Regular';
		font-weight: bold;
		font-size: 25px;
		letter-spacing: 1px;
	}
.items{
    overflow:auto;
    position:absolute;
    top:55px;
    left:0;
    bottom:0;
    width:230px;
}
.item2 .icon {
    background-position-x: 0;
    background-position-y: 0px;
}
.item3 .icon {
    background-position-x: 2px;
    background-position-y: -191px;
}
.item4 .icon {
    background-position-x: 0;
    background-position-y: -374px;
}
.item5 .icon {
    background-position-x: 0;
    background-position-y: -38px;
}
.item6 .icon {
    background-position-x: 0;
    background-position-y: -77px;
}
.item7 .icon {
    background-image: url('/Contents/Images/icon-deposit.png');
    background-position-x: 4px;
    background-position-y: 0;
}
.item8 .icon {
    background-image: url('/Contents/Images/icon-cost.png');
    background-position-x: 3px;
    background-position-y: 0;
}
.item9 .icon {
    background-position-x: 0;
    background-position-y: -117px;
}
.item10 .icon {
    background-image: url('/Contents/Images/vector-smart-object.png');
    background-position-x: 5px;
    background-position-y: 1px;
}
.item11 .icon {
    background-position-x: 2px;
    background-position-y: -154px;
}
.item12 .icon {
    background-image: url('/Contents/Images/cancel-invoice.png');
    background-position-x: 4px;
    background-position-y: 0px;
}
.item13 .icon {
    background-image: url('/Contents/Images/SMS_Menu.png');
    background-position-x: 7px;
    background-position-y: 0px;
    background-size: contain;
}
.item14 .icon {
    background-image: url('/Contents/Images/ic_GH.png');
    background-position-x: 1px;
    background-position-y: 0px;
    background-size: contain;
}
.item15 .icon {
    background-image: url('/Contents/Images/ic_hoadon.png');
    background-position-x: 2px;
    background-position-y: 0px;
}
.item16 .icon {
    background-position-x: 0px;
    background-position-y: -233px;
}
.item17 .icon {
    background-image: url('/Contents/Images/iconHelp.png');
    background-position-x: 3px;
    background-position-y: 0px;
}
.item18 .icon {
    background-image: url('/Contents/Images/icon-subscriber.png');
    background-position-x: 2px;
    background-position-y: 0px;
}
.item19 .icon {
    background-image: url('/Contents/Images/5food.png');
    background-position-x: 3px;
    background-position-y: 0px;
}
.down {
    background-image: url('/Contents/Images/iconMenu.png');
    background-position-x: 0px;
    background-position-y: -269px;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 0;
}
.item:hover {
    background-color: tomato;
}
.current{
    background-color:tomato;
}