extends layout

block layout-style
	link(rel="stylesheet" href="css/style2.css")
block layout-content
	div.View
		div.NavBar
			a.Page
				h2 h_
			a.Page.Active#Notifi(title="Notification",href="/notifi")
			a.Page#Mess(title="Message",href="/chat")
			a.Page#Person(title="Profile",href="/profile")
		div.ListOption
			div.Account
				div.Avatar
				h2 Nguyễn Quân
			div.Option
				h3 Notification
				div.List
					p Notification 1
					p Notification 2
					p Notification 3
					p Notification 4
					p Notification 5
					p Notification 6
					p Notification 7
					p Notification 8
					p Notification 9
					p Notification 10
					p Notification 11
					p Notification 12
					p Notification 13
					p Notification 14
					p Notification 15
					p Notification 16
					p Notification 17
					p Notification 18
					p Notification 19
					p Notification 20
					p Notification 21
					p Notification 22
					p Notification 23
					p Notification 24
					p Notification 25
		div.Detail
			div.Search
				input#searchInput(type="text",name="search")
				button.Buttons#search Search
			div.Results
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				div.Result 
					div.Account
						div.Avatar
						h3 User1
					div.Action
						button.Buttons#AddFriend Add friend
						button.Buttons#Info Info
				
block layout-script