*{
	padding:0;
	margin:0;
}
body{
	background-color: black;
}
.Logo{
	padding:10px;
	margin:10px;
	text-align:right;
	border:1px solid tomato;
	background-color:tomato;
	color:white;
}
.ChatRooms{
	position: absolute;
	left:10px;
	width:180px;
	top:100px;
	bottom:10px;
	border:1px solid tomato;
}
	.ChatRooms .Room{
		color:white;
		border:1px solid tomato;
		background-color: tomato;
		font-size:20px;
		padding:15px;
		margin-bottom: 15px;
	}
	.ChatRooms .Room:hover{
		background-color: black;
		cursor:pointer;
	}
.ChatRoom{
	left:200px;
	right:10px;
	top:100px;
	bottom:10px;
	position: absolute;
}
	.ChatRoom .Messages{
		border:1px solid tomato;
		position: absolute;
		top:0;
		bottom: 50px;
		left:0;
		right:0;
		color:white;
	}
	.ChatRoom .EnterMess{
		border:1px solid red;
		position: absolute;
		bottom: 0;
		height:50px;
		left:0;
		right:0;
		display: flex;
	}
	.ChatRoom .EnterMess input{
		flex-grow: 8;
		padding:5px;
		font-size:20px;
		background-color:rgba(255,255,255);
		border:0;
	}
	#SendMess{
		flex-grow: 2;
		border:0;
		background-color: tomato;
		color:white;
		font-size: 25px;
		font-weight: bold;
	}
	#SendMess:hover{
		color:black;
	}