@font-face{
	font-family:JosefinSans-Regular;
	src:url("/contents/fonts/JosefinSans-Regular.ttf");
}
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:JosefinSans-Regular;
	color:#233232;
}
body{

}
.View{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#211f1ffc;
}
.NavBar{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	width:80px;
	background-image:linear-gradient(to bottom,#6c6cef,#f7b3ee);
}
	.NavBar .Page{
		display: block;
		height:80px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom:15px;
	}
		.Page h2{
			color:white;
			font-size:40px;
			border:1px solid #f06060;
			padding: 10px;
			border-radius: 35px;
			background-image:linear-gradient(to bottom,#f06060,#f51717);
		}
		#Notifi{
			background-image: url('/contents/imgs/notifi.png');
			background-repeat: no-repeat;
    		background-position: center;
    		background-size: 70px;
		}
		#Mess{
			background-image: url('/contents/imgs/chat.png');
			background-repeat: no-repeat;
    		background-position: center;
    		background-size: 70px;
		}
		#Person{
			background-image: url('/contents/imgs/avatar.png');
			background-repeat: no-repeat;
    		background-position: center;
    		background-size: 70px;
		}
		.Page:hover{
			cursor: pointer;
			background-color:white;
		}
		.Page.Active{
			background-color:white;
		}

.ListOption{
	position: absolute;
	top:0;
	bottom:0;
	left:80px;
	width:300px;
	background-color: white;
	border-right:tomato;
	overflow-y: auto;
	overflow-wrap: break-word;
}
	.Account{
		display:flex;
		justify-content: center;
		align-items: center;
		height:10%;
	}
		.Account .Avatar{
			width:50px;
			height:50px;
			background-image: url('/contents/imgs/avatar.png');
			background-repeat: no-repeat;
    		background-size: 50px;
    		margin-right:15px;
		}
	.Option{	
	
	}
		.Option1{
			display: block;
			text-decoration: none;
			border-top:1px solid tomato;
			padding:15px;
			font-size:25px;
		}
		.Option1:hover{
			color:white;
			background-color:tomato;
			cursor: pointer;
		}
		.Option1.Active{
			background-color:tomato;
		}
		.Option h3{
			border-bottom:1px solid tomato;
			border-top:1px solid tomato;
			padding:10px;
			text-align: center;
			background-color:tomato;
			color:white;
		}
		.List{
			
			}
			.List p{
				border-bottom: 1px solid gray;
				padding:5px;
				margin:5px;
			}
			.List p:hover{
				color:tomato;
			}
			.List .Friend{
				display: flex;
				align-items: center;
				padding:10px;
				border-bottom:1px solid gray;
			}
			.List .Friend p{
				border:0!important;
			}
			.List .Friend .Avatar{
				width:30px;
				height:30px;
				background-image: url('/contents/imgs/avatar.png');
				background-repeat: no-repeat;
	    		background-size: 30px;
			}
.Detail{
	position: absolute;
	top:0;
	bottom: 0;
	right:0;
	left:380px;
}
	.Detail h2{
		color:white;
		font-size:40px;
		text-align: center;
		padding:10px;
		margin-top:15px;
	}
	.Information{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		width:450px;
	}
	.Search{
		position: absolute;
		top:0;
		height:100px;
		left:0;
		right:0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		.Search input{
			width:65%;
			padding:5px;
			border-radius: 10px;
			background-color: transparent;
			border:1px solid white;
			color:white;
			font-size:25px;
			margin-right:10px;
		}
		.Buttons{
			border:1px solid #f55c5c;
			background-color:#f55c5c;
			color:white;
			padding:5px 15px;
			font-size:25px;
			border-radius:20px;
			transition:0.5s;
			cursor: pointer;
			margin-right:10px;
		}
		.Buttons:hover{
			color:black;
		}
	.Results{
		position: absolute;
		top:115px;
		bottom: 15px;
		left:0;
		right:0;
		padding:10px;
		overflow: auto;
	}
		.Results .Result{
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid white;
			padding:5px;
		}
			.Account h3{
				color:white;
			}
	.ChatRoom{
		position: absolute;
		top:10px;
		bottom:10px;
		left:10px;
		right:10px;
		display: flex;
		flex-direction: column;
	}
	.ChatRoomName{
		flex-grow: 1;
		color:white;
		font-size:25px;
		display: flex;
		justify-content: center;
		align-items: center;
		border:1px solid tomato;
		background-color:tomato;
	}
	.Messages{
		flex-grow: 18;
		overflow: auto;
		border:1px solid tomato;
	}
	.MessInput{
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.MessInput textarea{
		font-size: 20px;
		color:white;
		background-color:transparent;
		border:1px solid white;
		border-radius: 10px;
		margin-right:10px;
		width:80%;
		padding:5px;
	}
