extends layout

block layout-style
	link(rel="stylesheet",href="css/libs/jquery-ui.min.css")
	link(rel="stylesheet",href="css/style2.css")
	link(rel="stylesheet",href="css/dialog.css")
block layout-content
	div.View
		div.NavBar
			a.Page(href="/admin")
				h2 h_
			a.Page#Notifi(title="Notification",href="/notifi")
			a.Page.Active#Mess(title="Message",href="/chat")
			a.Page#Person(title="Profile",href="/profile")
		div.ListOption
			div.Account
				div.Avatar
				h2#Nickname #{nickname}
			div.Option
				h3#ListFriend Friend list
				div.List#FriendList
					
				h3#ListGroup Group list
				div.List#GroupList.Hide
					div.AddGroup(title="Tạo nhóm mới") +
					div.Rooms
						
		div.Detail
			div.ChatRoom
				h3.ChatRoomName
				div.Messages 
				div.MessInput
					textarea#EnterMess(rows="3",type="text",name="EnterMess")
					button.Buttons#SendMess Send
		div#DiaGroup
			div.DiaHead
				input#GroupName(type="text",name="GroupName",placeholder="Đặt tên nhóm")
			div.DiaMid
				div.DiaMidLeft
					div.LeftTop
						input#FindMember(type="text",name="FindMember",placeholder="Tìm kiếm người để thêm")
					div.LeftBottom
				div.DiaMidRight
					h3 Thành viên đã chọn
					div.Members
			div.DiaFoot
				button.Buttons#CreateGroup Tạo nhóm
				button.Buttons.Cancel Hủy
		div#DiaAddToGroup
			div.DiaHead
				input#NameOfGroup(type="text",name="NameOfGroup",readonly)
			div.DiaMid
				div.DiaMidLeft
					div.LeftTop
						input#FindToAdd(type="text",name="FindToAdd",placeholder="Tìm kiếm người để thêm")
					div.LeftBottom
				div.DiaMidRight
					h3 Thành viên đã chọn
					div.Members
			div.DiaFoot
				button.Buttons#AddToGroup Thêm vào nhóm
				button.Buttons.Cancel Hủy
		div#DiaOutGroup
			div.Question
				.QuestionImg
				.QuestionContent Bạn có chắc chắn muốn rời khỏi nhóm không?
			div.DiaFoot
				button.Buttons#Yes_OutGroup Có
				button.Buttons#No_OutGroup Không
block layout-script
	script(src="scripts/libs/socket.io.js")
	script(src="scripts/libs/jquery-ui.min.js")
	script(src="scripts/chat.js")
	script(src="scripts/dialog.js")