extends layout
block layout-style
	link(rel="stylesheet" href="css/style1.css")
block layout-content
	.View.HomeView
		.Head
			h1.Banner ERROR
		.Mid
			.Content
				span#LetOne E
				span#LetTwo r
				span#LetThree r
				span#LetFour o
				span#LetFive r
				span#Space _
		.Foot
			.NavButtons
				a(href='/back')
					.NavButton Back
