doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="contents/imgs/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title} | HELLO_
    block layout-style
  body
    block layout-content
    script(src="scripts/libs/jquery-3.4.1.min.js")
    block layout-script