extends layout

block layout-content
  div.View.UserView
    h1.Banner Howdy, #{userProfile.nickname}!
    div.ChatRooms
      
    div.ChatRoom
      div.Messages
      div.EnterMess
        input(type="text")
        button#SendMess Send
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
block layout-script
  script(src="scripts/libs/socket.io.js")
  script(src="scripts/users.js")