extends layout

block layout-content
  div.View.AdminView
    h1.Banner Welcome, Admin!
    div.Message
      div.Title
        h3 Making Us the Best
        h1 Management the accounts
      pre.Details=JSON.stringify(userProfile,null,2)
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out