extends layout

block layout-content
	h1.Logo Awesome Chat
	div.ChatRooms
		p.Room#Room1 Room 1
		p.Room#Room2 Room 2
	div.ChatRoom
		div.Messages
		div.EnterMess
			input(type="text")
			button#SendMess Send
block layout-script
	script(src="scripts/chat.js")