extends layout

block layout-style
	link(rel="stylesheet",href="css/libs/jquery-ui.min.css")
	link(rel="stylesheet" href="css/style2.css")
	link(rel="stylesheet" href="css/dialog.css")
block layout-content
	div.View
		div.NavBar
			a.Page(href="/admin")
				h2 h_
			a.Page.Active#Notifi(title="Notification",href="/notifi")
			a.Page#Mess(title="Message",href="/chat")
			a.Page#Person(title="Profile",href="/profile")
		div.ListOption
			div.Account
				div.Avatar
				h2#Nickname #{nickname}
			div.Option
				h3 Notification
				div.List
					
		div.Detail
			div.Search
				input#searchInput(type="text",name="search")
				button.Buttons#search Search
			div.Results

			div.PersonInfo
				div.EachInfo
					table
						tr
							th Họ và tên
							td#nameInfo
						tr
							th Ngày sinh
							td#birthInfo
						tr
							th Giới tính
							td#genderInfo
		div#DiaUnfriend
			div.Question
				.QuestionImg
				.QuestionContent
			div.DiaFoot
				button.Buttons#Yes_Unfriend Có
				button.Buttons#No_Unfriend Không
block layout-script
	script(src="scripts/libs/socket.io.js")
	script(src="scripts/libs/jquery-ui.min.js")
	script(src="scripts/notifi.js")
	script(src="scripts/dialog.js")