extends layout

block layout-style
	link(rel="stylesheet" href="css/style1.css")
	link(rel="stylesheet",href="css/form.css")
block layout-content
	div.View.HomeView
		div.Head
			h1.Banner Sign In
		div.Mid
			div.Content
				form(action="/signin",method="POST")
					div.FormInput
						label Email
						input#email(type="email",name="email")
					div.FormInput
						label Password
						input#password(type="password",name="password")
					input#signin(type="submit",value="Sign In")
		div.Foot
			h3.Title Hello_ | Let talk your way!
block layout-script
	